<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="assets/images/favicon.ico" />

    <link
      href="assets/vendor/datatables.net-bs5/css/dataTables.bootstrap5.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="assets/vendor/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="assets/vendor/datatables.net-fixedcolumns-bs5/css/fixedColumns.bootstrap5.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="assets/vendor/datatables.net-fixedheader-bs5/css/fixedHeader.bootstrap5.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="assets/vendor/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="assets/vendor/datatables.net-select-bs5/css/select.bootstrap5.min.css"
      rel="stylesheet"
      type="text/css"
    />

    <link
      href="assets/css/app.min.css"
      rel="stylesheet"
      type="text/css"
      id="app-style"
    />
    <link
      href="./styles/buttonInTable.css"
      rel="stylesheet"
      type="text/css"
      id="app-style"
    />
    <link
      href="./styles/loadingScreen.css"
      rel="stylesheet"
      type="text/css"
      id="app-style"
    />
    <!-- <script src="./js/popUp.js"></script> -->

    <!-- Icons css -->
  </head>
  <div id="loading-screen" style="display: none">
    <div class="loading-content">
      <p>Đang tải dữ liệu...</p>
      <img class="loadding-image" src="./image/kOnzy.gif" />
    </div>
  </div>
  <body>
    <h2>Quản lý tài khoản CCOS</h2>
    <button class="custom-button-green" onclick="showPopupThem(this,'')">
      Thêm
    </button>
    <div class="table-responsive">
      <table
        id="scroll-horizontal-datatable"
        class="table table-striped w-100 nowrap"
        style="width: 100%"
      >
        <tbody>
          <!-- Dữ liệu sẽ được chèn vào đây -->
        </tbody>
      </table>

      <div id="popup" class="popup">
        <div class="popup-content">
          <span class="close" onclick="closePopupXoa()">&times;</span>
          <!-- <p id="popup-data">Dữ liệu sẽ hiển thị ở đây!</p> -->
          <p style="text-align: center">Sửa thông tin TK CCOS</p>
          <form id="popup-form" method="post">
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Tài khoản</span>
                <input id="txtEditUserCCOS" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Mật khẩu</span>
                <input id="txtEditPassCCOS" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Trạng thái</span>
                <select class="form-select" aria-label="Default select example" id="selectTrangThai">
                    <option value="1">Hoạt động</option>
                    <option value="0">Dừng hoạt động</option>
                </select>
            </div>
          </form>
          <div class="button-group">
            <button class="custom-button" onclick="submitFormXoa()">Sửa</button>
            <button class="custom-button-red" onclick="closePopupXoa()">
              Hủy
            </button>
          </div>
        </div>
      </div>

      <div id="popupThem" class="popup">
        <div class="popup-content">
          <span class="close" onclick="closePopupThem()">&times;</span>
          <!-- <p id="popup-data">Dữ liệu sẽ hiển thị ở đây!</p> -->
          <p style="text-align: center">Thêm tài khoản CCOS</p>

          <form id="add-form" method="post">
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Tài khoản</span>
                <input id="txtUserCCOS" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Mật khẩu</span>
                <input id="txtPassCCOS" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
          </form>
          <div class="button-group">
            <button class="custom-button-green" onclick="submitFormThem()">
              Thêm
            </button>
            <button class="custom-button-red" onclick="closePopupThem()">
              Hủy
            </button>
          </div>
        </div>
      </div>

      <div id="popupOTP" class="popup">
        <div class="popup-content">
          <span class="close" onclick="closePopupOTP()">&times;</span>
          <!-- <p id="popup-data">Dữ liệu sẽ hiển thị ở đây!</p> -->
          <p style="text-align: center">Nhập OTP CCOS</p>

          <form id="otp-form" method="post">
            <input id="szToken" type="hidden" />
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">OTP</span>
                <input id="txtOTP" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
          </form>
          <div class="button-group">
            <button class="custom-button-green" onclick="submitFormOTP()">
              Xác nhận
            </button>
            <button class="custom-button-red" onclick="closePopupOTP()">
              Hủy
            </button>
          </div>
        </div>
      </div>
    </div>

    <script src="assets/js/vendor.min.js"></script>

    <!-- Datatables js -->
    <script src="assets/vendor/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="assets/vendor/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
    <script src="assets/vendor/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="assets/vendor/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
    <script src="assets/vendor/datatables.net-fixedcolumns-bs5/js/fixedColumns.bootstrap5.min.js"></script>
    <script src="assets/vendor/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="assets/vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="assets/vendor/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js"></script>
    <script src="assets/vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="assets/vendor/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="assets/vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="assets/vendor/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="assets/vendor/datatables.net-select/js/dataTables.select.min.js"></script>

    <!-- Datatable Demo Aapp js -->

    <!-- App js -->
  </body>
</html>
